In [1]:
import pandas as pd

client_info = []
for i in range(2):
    name = input("qual é o nome do cliente? ")
    interest_rate = float(input("Qual é a taxa de juros? "))
    loan_amount = float(input("Qual é o valor do empréstimo? "))
    days_to_repay = int(input("Quantos dias para pagar o empréstimo? "))
    client_info_ = {'name': name, 'interest_rate': interest_rate, 
                    'loan_amount': loan_amount, 'days_to_repay': days_to_repay}

    client_info.append(client_info_)
    
## criar um novo dicionario com os valores de entradas.
find_customer_data = {'name': [], 'interest_rate': [], 'loan_amount': [], 'days_to_repay': [], 'total': []}
for customer_data in client_info:
    find_customer_data['name'].append(customer_data['name'])
    find_customer_data['interest_rate'].append(customer_data['interest_rate'])
    find_customer_data['loan_amount'].append(customer_data['loan_amount'])
    find_customer_data['days_to_repay'].append(customer_data['days_to_repay'])
    
    ## Aplicar a  formula para cada cliente
    find_customer_data['total'].append( 
        ( customer_data['loan_amount'] * customer_data['interest_rate'] * customer_data['days_to_repay']) / 365 )
    
print(" um pequelo log dos dados: ", customer_data)

## criar a tabela
original = pd.DataFrame(find_customer_data)

qual é o nome do cliente?  Marcio
Qual é a taxa de juros?  300
Qual é o valor do empréstimo?  400000
Quantos dias para pagar o empréstimo?  20
qual é o nome do cliente?  Tereza
Qual é a taxa de juros?  20
Qual é o valor do empréstimo?  40
Quantos dias para pagar o empréstimo?  30000

 um pequelo log dos dados:  {'name': 'Tereza', 'interest_rate': 20.0, 'loan_amount': 40.0, 'days_to_repay': 30000}

In [4]:
original

     name  interest_rate  loan_amount  days_to_repay         total
0  Marcio          300.0     400000.0             20  6.575342e+06
1  Tereza           20.0         40.0          30000  6.575342e+04

In [5]:
import numpy as np

In [6]:
data  = {
    'name': ['Magno', 'Pedro', 'João', 'Ana', 'Carlos', 'Mariana', 'Roberto', 'Luiza', 'Lucas', 'Juliana', 'Rafael', 'Fernanda', 'Mateus', 'Isabela', 'Gabriel', 'Laura', 'Sofia', 'Felipe', 'Beatriz', 'André'],
    'interest_rate': [1.8, 1.2, 2.0, 2.5, 1.7, 2.1, 1.8, 1.9, 2.2, 1.5, 2.4, 2.0, 1.9, 2.3, 1.7, 2.6, 1.8, 2.0, 2.1, 1.6],
    'loan_amount': [2000.0, 3000.0, 1500.0, 5000.0, 3500.0, 2200.0, 4000.0, 3200.0, 2700.0, 3100.0, 3800.0, 2400.0, 2600.0, 2900.0, 3300.0, 3500.0, 2300.0, 3000.0, 3200.0, 3400.0],
    'days_to_repay': [20, 20, 15, 30, 25, 18, 22, 30, 25, 20, 28, 17, 23, 30, 21, 29, 19, 22, 30, 24],
    'total': [175.34, 263.01, 145.25, 510.33, 310.29, 210.20, 385.31, 285.40, 220.35, 275.60, 380.40, 230.15, 290.22, 310.15, 340.75, 365.00, 215.50, 295.35, 320.00, 330.10]
}

In [7]:
novo = pd.DataFrame(data)
print(novo)

        name  interest_rate  loan_amount  days_to_repay   total
0      Magno            1.8       2000.0             20  175.34
1      Pedro            1.2       3000.0             20  263.01
2       João            2.0       1500.0             15  145.25
3        Ana            2.5       5000.0             30  510.33
4     Carlos            1.7       3500.0             25  310.29
5    Mariana            2.1       2200.0             18  210.20
6    Roberto            1.8       4000.0             22  385.31
7      Luiza            1.9       3200.0             30  285.40
8      Lucas            2.2       2700.0             25  220.35
9    Juliana            1.5       3100.0             20  275.60
10    Rafael            2.4       3800.0             28  380.40
11  Fernanda            2.0       2400.0             17  230.15
12    Mateus            1.9       2600.0             23  290.22
13   Isabela            2.3       2900.0             30  310.15
14   Gabriel            1.7       3300.0             21  340.75
15     Laura            2.6       3500.0             29  365.00
16     Sofia            1.8       2300.0             19  215.50
17    Felipe            2.0       3000.0             22  295.35
18   Beatriz            2.1       3200.0             30  320.00
19     André            1.6       3400.0             24  330.10

In [8]:
print(novo)

        name  interest_rate  loan_amount  days_to_repay   total
0      Magno            1.8       2000.0             20  175.34
1      Pedro            1.2       3000.0             20  263.01
2       João            2.0       1500.0             15  145.25
3        Ana            2.5       5000.0             30  510.33
4     Carlos            1.7       3500.0             25  310.29
5    Mariana            2.1       2200.0             18  210.20
6    Roberto            1.8       4000.0             22  385.31
7      Luiza            1.9       3200.0             30  285.40
8      Lucas            2.2       2700.0             25  220.35
9    Juliana            1.5       3100.0             20  275.60
10    Rafael            2.4       3800.0             28  380.40
11  Fernanda            2.0       2400.0             17  230.15
12    Mateus            1.9       2600.0             23  290.22
13   Isabela            2.3       2900.0             30  310.15
14   Gabriel            1.7       3300.0             21  340.75
15     Laura            2.6       3500.0             29  365.00
16     Sofia            1.8       2300.0             19  215.50
17    Felipe            2.0       3000.0             22  295.35
18   Beatriz            2.1       3200.0             30  320.00
19     André            1.6       3400.0             24  330.10

In [9]:
df_combined  =pd.concat([original, novo], ignore_index=True)

In [10]:
df_combined = df_combined.fillna({'loan_amount': df_combined['loan_amount'].mean() })

In [11]:
df_combined

        name  interest_rate  loan_amount  days_to_repay         total
0     Marcio          300.0     400000.0             20  6.575342e+06
1     Tereza           20.0         40.0          30000  6.575342e+04
2      Magno            1.8       2000.0             20  1.753400e+02
3      Pedro            1.2       3000.0             20  2.630100e+02
4       João            2.0       1500.0             15  1.452500e+02
5        Ana            2.5       5000.0             30  5.103300e+02
6     Carlos            1.7       3500.0             25  3.102900e+02
7    Mariana            2.1       2200.0             18  2.102000e+02
8    Roberto            1.8       4000.0             22  3.853100e+02
9      Luiza            1.9       3200.0             30  2.854000e+02
10     Lucas            2.2       2700.0             25  2.203500e+02
11   Juliana            1.5       3100.0             20  2.756000e+02
12    Rafael            2.4       3800.0             28  3.804000e+02
13  Fernanda            2.0       2400.0             17  2.301500e+02
14    Mateus            1.9       2600.0             23  2.902200e+02
15   Isabela            2.3       2900.0             30  3.101500e+02
16   Gabriel            1.7       3300.0             21  3.407500e+02
17     Laura            2.6       3500.0             29  3.650000e+02
18     Sofia            1.8       2300.0             19  2.155000e+02
19    Felipe            2.0       3000.0             22  2.953500e+02
20   Beatriz            2.1       3200.0             30  3.200000e+02
21     André            1.6       3400.0             24  3.301000e+02

In [12]:
X = novo[['interest_rate', 'loan_amount', 'days_to_repay']]
y = novo['total']

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
model = LinearRegression()

In [16]:
model.fit(X_train, y_train)
score = model.score(X_test, y_test)
print("Acurácia do modelo:", score)

Acurácia do modelo: 0.9873133166738906

In [17]:
y_pred = model.predict(X_test)

In [18]:
mse = mean_squared_error(y_test, y_pred)
print(f"Erro Quadrático Médio: {mse}")

Erro Quadrático Médio: 58.96001501816006

In [19]:
# Exibir os coeficientes do modelo
print("Coeficientes do modelo:", model.coef_)
print("Intercepto:", model.intercept_)

score = model.score(X_test, y_test)
eqm = mean_squared_error(y_test, y_pred)
eam = mean_absolute_error(y_test, y_pred)

print("Acurácia do modelo (R^2):", score)
print("Erro Quadrático Médio (EQM):", eqm)
print("Erro Absoluto Médio (EAM):", eam)

Coeficientes do modelo: [28.69211997  0.10159608 -0.47165471]
Intercepto: -59.64722986903905
Acurácia do modelo (R^2): 0.9873133166738906
Erro Quadrático Médio (EQM): 58.96001501816006
Erro Absoluto Médio (EAM): 7.221670964488389

In [20]:
novo_dado = [[1.8, 2000.0, 20]]  # interest_rate, loan_amount, days_to_repay

In [21]:
previsao_total = model.predict(novo_dado)

/opt/anaconda3/envs/spacy/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [22]:
print(f"O valor total previsto para o novo empréstimo é: {previsao_total[0]}")

O valor total previsto para o novo empréstimo é: 185.75765988935575